<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Liminus</title>
</head>
<body>
    <div class="container">
        <div class="container-fluid">
            <div class="login">

                <div class="right">
                  <ul>
                    <li>
                        Acesso pelo smartphone
                    </li>
                    <li>
                        Baixe suas faturas
                    </li>
                    <li>
                        Tenha mais facilidade
                    </li>
                  </ul>
                </div>
                <div class="left">
                    <img src="img/logoluminus.png" alt="" width="200px" height="50px">
                    <label>
                        <input id="cpf" type="text" placeholder="Digite o seu CPF para entrar">
                        <input id="senha" type="password" placeholder="Digite a sua senha">
                        <button onclick="autentication()"></button>
                        <a href="http://">Não possui uma conta? Cadastre-se!</a>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <script src="js/autentication.js"></script>
</body>
</html>