<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/painel.css">
    <title>painel</title>
</head>
<body>
    <div class="container">
        <div class="sidebar" id="sidebar-bg">
        
        </div>
        <div class="cheatsheet">
            <div class="navbar">
                <p>
                    Luminus
                </p>
                <button>

                </button>

            </div>
            <div class="container">
                <div class="sidebar sidebar-small">

                </div>
                <div class="cheatsheet">
                    <div class="painel-faturas">
                        <div class="header-fatura">
                           <p>
                            Faturas
                           </p> 
                        </div>
                        <div class="fatura">
                            <table class="tb-fatura" border="2">
                                <tr>
                                    <td>Nome</td>
                                    <td>Período</td>
                                    <td>Data de vencimento</td>
                                    <td>Status</td>
                                    <td>Valor</td>
                                    <td>Download</td>
                                </tr>
                                <tr>
                                        <td>Jose da Silva</td>
                                        <td>Janeiro</td>
                                        <td>22/10/2022</td>
                                        <td>pendente</td>
                                        <td>100.00</td>
                                        <td><Button>Baixar</Button></td>
                                    </tr>   

                            </table>
                        </div>
                    </div>

                </div>
            </div>
    
        </div>

    </div>
   

    
</body>
</html>